body {
  font-family: "Inconsolata", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #404040;
}

h1 {
  font-family: font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 200;
  color: #808080;
}

#main {
  width: 100%;
  height: 80%;
}

#source,
#treeContainer {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}

#source {
  border-right: solid 1px #e0e0e0;
  box-sizing: border-box;
}

#convert {
  z-index: 200;
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #3fa9f5;
  background-image: url(../images/conv-arr.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  right: 0;
  top: -45px;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  text-align: center;
}

#convert i {
  margin: 50px;
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
}

#annotationsContainer {
  width: 100%;
  height: 20%;
  border-top: solid 1px #e0e0e0;
}

#annotations {
  margin: 10px;
}

.type,
.row,
.column,
.text {
  display: inline-block;
  line-height: 1.5em;
}

.type,
.row,
.column {
  width: 50px;
  text-align: center;
}

.header {
  font-weight: 600;
  background-color: #e0e0e0;
}

.item:nth-child(odd) {
  background-color: #f0f0f0;
}

#treeContainer {
  overflow: auto;
}

.search {
  display: none;
  visibility: hidden;
}

#tree {
  margin: 10px;
}

.inspire-tree .icon::before {
  width: 12px;
  height: 12px;
  top: 6px;
}

.inspire-tree .title {
  padding-left: 24px;
  height: inherit;
  line-height: inherit;
  white-space: inherit;
}

.inspire-tree .title::before {
  left: -3px;
}

.icon-folder,
.icon-folder-open {
  font-weight: 600;
  color: #808080;
}

.icon-file-empty {
  color: #202020;
}

.inspire-tree .leaf:last-child {
  background-position: 11px -6px;
}
